{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Locate plugin for Craft CMS 4.x
 *
 * Locate Settings.twig
 *
 * @author    Værsågod
 * @copyright Copyright (c) 2022 Værsågod AS
 * @link      https://www.vaersaagod.no/
 * @package   Locate
 * @since     2.0.0
 */
#}

{% macro configWarning(setting, file) -%}
    {{ "This is being overridden by the {setting} config setting."|t('app', {
        setting: '<a href="https://github.com/vaersaagod/locate/blob/master/README.md#'~setting|lower~'" rel="noopener" target="_blank">'~setting~'</a>'
    })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

<div class="vaersaagod-locate">
    {% import "_includes/forms" as forms %}

    {% do view.registerAssetBundle("vaersaagod\\locate\\assetbundles\\locate\\LocateAsset") %}

    {{ forms.autosuggestField({
        first: true,
        label: "Google Maps API Key"|t('locate'),
        instructions: 'Use your API key, or get one from <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">Google</a>.' | t('locate'),
        id: 'googleMapsApiKey',
        suggestEnvVars: true,
        name: 'googleMapsApiKey',
        value: settings['googleMapsApiKey'] ?? null,
        warning: ((craft.app.config.getConfigFromFile('locate') ?? [])['googleMapsApiKey'] ?? null) ? configWarning('googleMapsApiKey')
    }) }}

    <div class="readable">
        <blockquote class="note tip">
            <p>The Google API Console project attached to this key needs to have the following APIs enabled:</p>
            <ul>
                <li>Maps JavaScript API</li>
                <li>Places API</li>
                <li>Geocoding API</li>
            </ul>
        </blockquote>
    </div>

    {{ forms.autosuggestField({
        label: 'Google Maps API Language' | t('locate'),
        instructions: 'By default, the Maps JavaScript API uses the user\'s preferred language setting as specified in the browser. Use this setting to make Google Maps ignore the browser\'s language setting and force it to display information in a particular language. **[See the list of supported languages here](https://developers.google.com/maps/faq#languagesupport)**'|t('locate'),
        id: 'apiLanguage',
        suggestEnvVars: true,
        name: 'apiLanguage',
        value: settings['apiLanguage'] ?? null,
        warning: ((craft.app.config.getConfigFromFile('locate') ?? [])['apiLanguage'] ?? null) ? configWarning('apiLanguage')
    }) }}

    {{ forms.autosuggestField({
        label: 'Google Maps API Region' | t('locate'),
        instructions: 'By default, Google Maps applies a bias for application behavior towards the United States. Set a different region below to alter Google Maps\' behaviour (such as biasing in geocoding results). **This setting accepts [Unicode region subtab identifiers](http://www.unicode.org/reports/tr35/#Unicode_Language_and_Locale_Identifiers).**'|t('locate'),
        id: 'apiRegion',
        suggestEnvVars: true,
        name: 'apiRegion',
        value: settings['apiRegion'] ?? null,
        warning: ((craft.app.config.getConfigFromFile('locate') ?? [])['apiRegion'] ?? null) ? configWarning('apiRegion')
    }) }}

    <div class="field" id="autocompleteOptions-field">
        <div class="heading">
            <label for="autocompleteOptions">{{ 'Google Autocomplete Global Options' | t('locate') }}</label>
        </div>
        <div class="instructions">
            <p>
                {{ "The Autocomplete field defaults to all place types (cities, addresses, businesses, etc.) in the world. By default, the API will attempt to detect the user's location from their IP address, and will bias the results to that location. You can modify the default behaviour by passing in a JSON object of options. For a full list of allowed options see the official documentation from" | t('locate') }}
                <a href="https://developers.google.com/maps/documentation/javascript/places-autocomplete#add_autocomplete"
                   target="_blank">Google</a>.

            </p>
        </div>
        <div class="instructions">
            <p>{{ "You can set these options globally, or on a per field basis. Options set on individual fields will override the global options" | t('locate') }}</p>
        </div>
        <div class="input">
            {{ forms.textareaField({
                name: 'autocompleteOptions',
                id: 'autocompleteOptions',
                rows: 10,
                value: settings['autocompleteOptions'] ?? null,
                warning: ((craft.app.config.getConfigFromFile('locate') ?? [])['autocompleteOptions'] ?? null) ? configWarning('autocompleteOptions')
            }) }}
            <p class="instructions">
                <em>
                    <span class="locate-warn">{{ "Warning:" | t('locate') }}</span> {{ "The options object must be formatted correctly or the plugin will not function! Please see the plugin documentation for complete instructions and examples. If after doing so you are unclear about what to enter below, please leave it blank." | t('locate') }}
                </em> <a href="https://github.com/vaersaagod/locate/blob/master/README.md" target="_blank">{{ 'Plugin documentation' | t('locate') }}</a>.
            </p>
        </div>
    </div>
    <hr>
    <div class="locate-code-samples">
        <code>
            <span class="code-comment">// {{ 'Only show establishments and bias the results to the Pacific Northwest, and only in Canada (ie. Doughnut shops in Vancouver)' | t('locate') }}</span>
            "types": ["establishment"],<br>
            "bounds": {<span
                    class="code-break -l1">"north": 50,<br>"east": -122,<br>"south": 48,<br>"west": -123</span>},<br>
            "componentRestrictions": {<span class="code-break -l1">"country": "ca"</span>}
        </code>
    </div>
</div>
