{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Locate plugin for Craft CMS 3.x
 *
 * LocateField Field Input
 *
 * @author    Isaac Gray
 * @copyright Copyright (c) 2018 Isaac Gray
 * @link      https://www.vaersaagod.no/
 * @package   Locate
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set hasApiKey = apiKey|length %}

<div class="vaersaagod-locate vaersaagod-locate--field">

    {{ forms.textField({
        id: id ~ '-location',
        disabled: not hasApiKey,
        name: name ~ '[location]',
        value: value['location'] ?? null,
        warning: not hasApiKey ? 'The Google Maps API key has not been set. Please review the Locate plugin settings.'|t('locate')
    }) }}

    {% set locationData = value.locationData ?? null %}

    {% if locationData %}
        {% set locationData = locationData | json_encode %}
    {% endif %}

    {{ forms.hidden({
        id: id ~ '-locationData',
        disabled: not hasApiKey,
        name: name ~ '[locationData]',
        value: locationData|default
    }) }}

    {{ forms.hidden({
        id: id ~ '-lat',
        name: name ~ '[lat]',
        value: value['lat'] ?? null
    }) }}

    {{ forms.hidden({
        id: id ~ '-lng',
        name: name ~ '[lng]',
        value: value['lng'] ?? null
    }) }}

    {{ forms.hidden({
        id: id ~ '-placeid',
        name: name ~ '[placeid]',
        value: value['placeid'] ?? null
    }) }}

    {{ forms.hidden({
        id: id ~ '-isCpFormData',
        name: name ~ '[isCpFormData]',
        value: 'true'
    }) }}

</div>
